
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    }
    /* Global Styles */
    body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    }
    header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    }
    .ttl {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .pic img {
        float: left;
    width: 25%;
    height: auto;
    align-items: left;
    flex:2
    }
    .ddt{
        float: right;

        margin:auto;
    }
    


    main {
    padding: 2rem;
    }
    table{
        border-color: #444;
        align-items: center;
        border: 1px solid;
        width: fit-content;
        border-width: 20px;
        margin-left: auto;
        margin-right: auto;
       
        

    }
    h1{
        text-align: center;

    }
    th,tr{
        border-width: 3px;
       border-color: azure;
       
    }
    
    footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #444;
    color: #fff;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
    }
    .social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    }
    /* Media Queries */
    @media screen and (max-width: 768px) {
    header {
    flex-direction: column;
    }
    .logo {
    margin-bottom: 1rem;
    }
    }
    
